.products-style {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.products-padding {
  padding: 2rem;
}
.hero-background {
  background: linear-gradient(
      rgba(188, 181, 204, 0.8),
      rgba(188, 181, 204, 0.8)
    ),
    url('/images/background.jpg') center center;
  background-size: cover;
  color: white;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-background {
  background: linear-gradient(rgba(185, 48, 48, 0.8), rgba(185, 48, 48, 0.8)),
    url('/images/error.jpg') center center;
  background-size: cover;
  color: white;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
