.products-style {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.products-padding {
  padding: 2rem;
}
.hero-background {
  background-image: url('/images/background.jpg');
}
.background-overlay {
  background: rgba(188, 181, 204, 0.7);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
