<%- include('templates/header'); -%>
<div class="container">
    <h1 class="is-size-3 has-text-centered has-text-weight-semibold has-text-primary">Clothing</h1>
    <div class="products-style">
        <p><%= searchArray.name  %></p>
    </div>
</div>
<%- include('templates/footer'); -%>