<%- include('templates/header'); -%>
<div class="section section-padding">
    <div class="container">
        <h1><%= status %></h1>
        <p><%= error %></p>
    </div>

</div>

<%- include('templates/footer'); -%>