<%- include('templates/header'); -%>
<div class="container-fluid">
    <section class="hero is-large hero-background">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered is-size-1  has-text-weight-bold">
                    Welcome To WearIt
                </h1>
                <h2 class="subtitle has-text-weight-semibold is-size-2  has-text-centered">
                    Online Ordering Coming Soon!
                </h2>
                <p class="subtitle is-size-4  has-text-centered">Until then, feel free to
                    browse
                    our product catalogue, view/submit testimonials or visit us in store to
                    make a purchase.
                </p>
                <p class="subtitle is-size-4 has-text-centered"> Our store is located at 1638 Willow Avenue, Sydney 2000
                </p>
                <p class="subtitle is-size-4 has-text-centered"> Open 7 days a week from 9:00am until 5:00pm.
                </p>
            </div>
        </div>
    </section>
    <div class="columns">
        <div class="column home-padding is-size-5  is-italic">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maxime earum unde reiciendis saepe
                iste ad pariatur, voluptatem, nemo, sint beatae hic aut officiis cum dolores dicta quae. Iste
                assumenda libero quaerat dolore, provident ducimus non deleniti, quia ipsam explicabo iure. Hic
                pariatur eius doloremque blanditiis est saepe provident assumenda doloribus corporis eos
                mollitia quasi distinctio non nulla harum explicabo nihil sint eligendi velit ea, quibusdam a
                ullam laboriosam eveniet.
            </p>
            <br>
            <p>
                Officia, vitae. Architecto, atque saepe laboriosam ducimus modi,
                cumque tempore velit a veniam quas iusto id numquam, minus distinctio exercitationem dolore
                magnam odio dicta totam vel nulla excepturi temporibus! Deserunt perferendis iusto dignissimos, nisi
                nobis qui commodi molestiae delectus reiciendis aspernatur laborum rem odit eligendi nemo omnis aut
                error. Deserunt cum totam placeat doloremque pariatur sapiente enim voluptatem fuga in optio cupiditate
                dolore, expedita suscipit voluptate sequi harum necessitatibus laborum consectetur veritatis, sit ullam
                sed tenetur ducimus nisi.
            </p>
        </div>
        <div class="column home-padding is-size-5 is-italic">
            <p>
                Id animi, cumque voluptatibus omnis et doloribus? Dolorem,
                exercitationem veniam quisquam, quam rerum repellat, eveniet atque pariatur asperiores earum
                deserunt odio! Nulla dolorem rem quas nihil odit tenetur aliquam quam recusandae itaque, eum eos
                at optio, molestias officiis id hic, voluptatibus sapiente harum? At, quas! Voluptas, quis nam
                aliquam doloribus ab ullam vitae eum at minima illo quaerat libero sed placeat vel molestiae
                natus quam sit blanditiis, amet similique?
            </p>
            <br>
            <p>
                Sint velit accusamus totam odit beatae expedita
                dolorum maiores corporis numquam, repellendus dignissimos quia vitae quos iste veritatis hic
                recusandae adipisci. Illum iure repellat, laborum blanditiis voluptate itaque! Harum expedita
                quas modi eligendi vel libero incidunt magnam quam, quasi molestias odit perferendis commodi,
                natus esse tempore possimus blanditiis reiciendis! Autem, in. Corporis animi eum fugiat
                suscipit, officia qui impedit repellat, voluptas alias labore nesciunt ipsum. Fugit.
            </p>
            <br>
        </div>
    </div>
</div>

</div>
</div>
<%- include('templates/footer'); -%>