<%- include('templates/header'); -%>
<div class="container-fluid">
    <section class="hero is-large hero-background">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered is-size-1  has-text-weight-bold">
                    Welcome To WearIt
                </h1>
                <h2 class="subtitle has-text-weight-semibold is-size-2  has-text-centered">
                    Online Store Coming Soon!
                </h2>
                <p class="subtitle is-size-4  has-text-centered">Until then, feel free to
                    browse
                    our products, view/submit testimonials or visit us in store to
                    make a purchase.</p>
            </div>
        </div>
    </section>

    <div class="columns">
        <div class="column has-background-info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maxime earum unde reiciendis saepe
                iste ad pariatur, voluptatem, nemo, sint beatae hic aut officiis cum dolores dicta quae. Iste
                assumenda libero quaerat dolore, provident ducimus non deleniti, quia ipsam explicabo iure. Hic
                pariatur eius doloremque blanditiis est saepe provident assumenda doloribus corporis eos
                mollitia quasi distinctio non nulla harum explicabo nihil sint eligendi velit ea, quibusdam a
                ullam laboriosam eveniet. Officia, vitae. Architecto, atque saepe laboriosam ducimus modi,
                cumque tempore velit a veniam quas iusto id numquam, minus distinctio exercitationem dolore
                magnam odio dicta totam vel nulla excepturi temporibus! Iure accusantium voluptatum ea cum
                deleniti qui sunt hic harum nostrum magnam alias, quis inventore officia beatae excepturi maxime
                saepe vitae soluta quia facere doloremque quisquam illum ullam maiores. Cupiditate unde magnam
                saepe dicta quisquam dignissimos fugiat perspiciatis deserunt praesentium quaerat maiores,
                cumque asperiores totam, odio sint quibusdam harum ipsam quas dolores itaque animi modi? Nihil
                earum incidunt magnam voluptates rem facilis quae, quia laudantium doloremque. Optio deserunt,
                impedit est maxime, quia fugiat quisquam nam unde maiores pariatur amet, velit magni! Similique
                dolore placeat eaque tenetur deserunt, magnam ea. Nam quibusdam consequuntur enim reprehenderit
                tempore nihil ex culpa excepturi! Ab eligendi temporibus vero eaque fugiat aspernatur odio hic
                obcaecati illo dicta eius ducimus omnis illum excepturi est soluta, dolorem at, laboriosam
                voluptatem autem fugit sequi vitae. Id animi, cumque voluptatibus omnis et doloribus? Dolorem,
                exercitationem veniam quisquam, quam rerum repellat, eveniet atque pariatur asperiores earum
                deserunt odio! Nulla dolorem rem quas nihil odit tenetur aliquam quam recusandae itaque, eum eos
                at optio, molestias officiis id hic, voluptatibus sapiente harum? At, quas! Voluptas, quis nam
                aliquam doloribus ab ullam vitae eum at minima illo quaerat libero sed placeat vel molestiae
                natus quam sit blanditiis, amet similique? Eum fuga quaerat mollitia nam hic laudantium dolor
                aspernatur ipsam dolore consectetur rerum sit officia, culpa totam ea? Modi praesentium tenetur,
                totam, inventore cumque libero reiciendis, saepe numquam eos blanditiis consequatur sint
                similique laborum laboriosam? Minima architecto, accusantium, quibusdam consequuntur quia ab
                temporibus enim laborum voluptatem laudantium provident in laboriosam, voluptatum autem!
                Aperiam, animi. Repellat doloribus, excepturi, sequi voluptates quod corrupti commodi quas sed
                ipsum consectetur necessitatibus blanditiis? Sint velit accusamus totam odit beatae expedita
                dolorum maiores corporis numquam, repellendus dignissimos quia vitae quos iste veritatis hic
                recusandae adipisci. Illum iure repellat, laborum blanditiis voluptate itaque! Harum expedita
                quas modi eligendi vel libero incidunt magnam quam, quasi molestias odit perferendis commodi,
                natus esse tempore possimus blanditiis reiciendis! Aut veniam odit quia rem nemo consequuntur,
                eaque libero saepe ducimus id. Voluptas obcaecati enim earum. Molestiae nemo est saepe
                recusandae, a id laboriosam nulla, at, reprehenderit voluptatum esse! Provident blanditiis eaque
                doloribus iusto quibusdam dicta sit. Ut, commodi?</p>
        </div>
        <div class="column has-background-danger">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, in. Corporis animi eum fugiat
                suscipit, officia qui impedit repellat, voluptas alias labore nesciunt ipsum. Fugit.</p>
        </div>
    </div>
</div>

</div>
</div>
<%- include('templates/footer'); -%>