<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Website built with Bulma and EJS 2020
        </p>
        <p>Images courtesy of <a href="https://unsplash.com/" rel="noopener noreferrer" target="_blank">Unsplash</a></p>
        <p>Custom Bulma themes courtesy of
            <a href="https://jenil.github.io/bulmaswatch/" rel="noopener noreferrer" target="_blank">Bulmaswatch</a></p>
    </div>
</footer>
<!-- CUSTOM JAVASCRIPT -->
<script type="text/javascript" src="/js/custom.js"></script>
</body>

</html>