<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        WearIt -- <%= page %>
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- BULMA CSS -->
    <link rel="stylesheet" id="bulmaStyle" href="/css/bulmaswatch-flatly.min.css" />
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" id="customStyle" href="/css/style.css" />
</head>

<body>
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item has-text-primary is-size-2 has-text-weight-semibold is-italic" href="/">
                WearIt
            </a>

            <a role="button" class="navbar-burger burger has-text-primary" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Our Products
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/products">
                            All Products
                        </a>
                        <% productCategories.forEach(function(categories) { %>
                        <a class="navbar-item" href="/products/<%= categories %>">
                            <%= categories.charAt(0).toUpperCase()+categories.slice(1) %>
                        </a>
                        <% }); %>
                    </div>
                </div>
                <a class="navbar-item" href="/testimonials">
                    Testimonials
                </a>
                <a class="navbar-item" href="/aboutus">
                    About Us
                </a>
                <div class="navbar-item">
                    <!-- DARK & LIGHT MODE BUTTONS -- SWAPS STYLE SHEETS -->
                    <div class="buttons">
                        <a id="dark-button" class="button is-dark"
                            onclick="swapStyles('/css/bulmaswatch-darkly.min.css', '/css/alt-style.css')">
                            <strong>Dark</strong>
                        </a>
                        <a id="light-button" class="button is-warning is-light"
                            onclick="swapStyles('/css/bulmaswatch-flatly.min.css', '/css/style.css')">
                            Light
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>